<div class="inline-form-field">
    <label for='{{id}}'>{{label}}</label>
    <input
        class='inline-form-field__input'
        value='{{value}}'
        type='{{type}}'
        name='{{id}}'
        id='{{id}}'
        {{#if disabled}}
            disabled
        {{/if}}
    />
</div>
